@import "normalize.css";
@import "../fonts/fonts.css";

@import "container/container.css";
@import "layout/layout.css";
@import "header/header.css";
@import "menu/menu.css";
@import "footer/footer.css";

html, body {
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --grey-1: #303030;
  --grey-2: #e0e0e0;

  --menu-item-color: var(--grey-1);
  --header-bg: var(--grey-2);
}
